<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--<suite name="Tests" thread-count="1" verbose="5">-->
<!--<suite name="Tests" thread-count="2" verbose="5" parallel="methods">-->
<suite name="Tests" thread-count="2" verbose="5" parallel="classes">
    <test name="smoke" enabled="true">
        <groups>
            <run>
                <include name="smoke"/>
<!--                <exclude name="regression"/>-->
            </run>
        </groups>
        <classes>
            <class name="ru.stqa.selenium.tests.HomePageTests"/>
            <class name="ru.stqa.selenium.tests.LoginTests"/>
            <class name="ru.stqa.selenium.tests.CurrentBoardTests"/>
            <class name="ru.stqa.selenium.tests.ActivityTests"/>
            <class name="ru.stqa.selenium.tests.ProfileTests"/>
<!--            <class name="ru.stqa.selenium.tests.GuideTests"/>-->
        </classes>
    </test>

    <test name="regression" enabled="false">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="ru.stqa.selenium.tests.HomePageTests"/>
            <class name="ru.stqa.selenium.tests.LoginTests"/>
        </classes>
    </test>

    <test name="smoke" enabled="false">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="ru.stqa.selenium.tests.HomePageTests"/>
            <class name="ru.stqa.selenium.tests.LoginTests"/>
        </classes>
    </test>
</suite>